@import '@assets/scss/common';

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__ul {
    display: flex;
    gap: 1rem;
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    li {
      list-style: none;
    }
    a {
      color: #fff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.active {
  color: orange !important;
}
