@import "@/assets/scss/common";

.wrap {
  @include noneSelect;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  background: #2f2f33;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 0 7rem 0 7rem;
  width: 20rem;
  overflow: hidden;
  box-shadow: 0 0 1rem #484848;
  border: 0.2rem solid rgba(255, 255, 255, 0.85);
  gap: 1rem;
  &__top {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
  }
  &__icons {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: flex-end;
    background: #1f1f28;
    padding: 1rem 5.5rem 1rem 1rem;
    border-radius: 0.6rem;
    a {
      display: flex;
    }
  }
}
.h1 {
  color: #fff;
}
.btn{
  width: 100%;
  border-radius: 0;
  background: orange;
  border: none;
}
.list{
  padding: 1rem 0;
  margin: 0;
}